<div id="header1">
  <div class="container">
<div class="row" id="navigation">
  <ul class="nav">
    <li><img src="images/logo.png"></li>
    <li><a href="#/search">Containers</a></li>
    <li><a href="#/docs">Documentation</a></li>
    <li><a href="#/login">Sign Up</a></li>

    <li> <span class="left rounded">
      <input type="text" class="search left rounded" placeholder="Search Containers" />
    </span>
    <div class="button login">
<p><a ng-hide="isAuthenticated()" href="#">Login</a> <a ng-show="isAuthenticated()" href uib-dropdown-toggle>{{username}} <span class="caret"></span></a> </p>

</div>
    </li>

  </ul>

</div>
</div>
</div> <!-- end of header1 -->
